language: php
php:
  - hhvm
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
before_script:
  - sudo apt-get install apache2 libapache2-mod-fastcgi
  # enable hhvm
  - sudo a2enmod rewrite actions fastcgi alias
  - hhvm --mode daemon -vServer.Type=fastcgi -vServer.FileSocket=/var/run/hhvm/sock -vServer.FixPathInfo=true
  # configure apache virtual hosts
  - sudo cp -f build/travis-ci-apache /etc/apache2/sites-available/default
  - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/default
  - sudo service apache2 restart
  # prepare database
  - mysql -e 'create database mqntestdb;'
  - mysql mqntestdb < src/sql/mysql/mqntestdb.sql
script: curl http://localhost/MyQuickNet/testing/
