.clear {
clear: both;
display: block;
height: 0;
overflow: hidden;
visibility: hidden;
width: 0;
}
.grid {
display: inline;
float: left;
margin-left: 10px;
margin-right: 10px;
}
.grid_container {
margin-left: auto;
margin-right: auto;
position: relative;
width: 960px;
}
.fgrid {
display: inline;
float: left;
margin-left: 0px;
margin-right: 10px;
}
.frgrid {
display: inline;
float: left;
margin-left: 0px;
margin-right: 10px;
position: relative;
}
.lgrid {
display: inline;
float: left;
margin-left: 10px;
margin-right: 0px;
}
.lrgrid {
display: inline;
float: left;
margin-left: 10px;
margin-right: 0px;
position: relative;
}
.rgrid {
display: inline;
float: left;
margin-left: 10px;
margin-right: 10px;
position: relative;
}
.left_0 {
left: 0px;
}
.left_1 {
left: 80px;
}
.left_2 {
left: 160px;
}
.left_3 {
left: 240px;
}
.left_4 {
left: 320px;
}
.left_5 {
left: 400px;
}
.left_6 {
left: 480px;
}
.left_7 {
left: 560px;
}
.left_8 {
left: 640px;
}
.left_9 {
left: 720px;
}
.left_10 {
left: 800px;
}
.left_11 {
left: 880px;
}
.left_12 {
left: 960px;
}
.mleft_0 {
left: 0px;
}
.mleft_1 {
left: -80px;
}
.mleft_2 {
left: -160px;
}
.mleft_3 {
left: -240px;
}
.mleft_4 {
left: -320px;
}
.mleft_5 {
left: -400px;
}
.mleft_6 {
left: -480px;
}
.mleft_7 {
left: -560px;
}
.mleft_8 {
left: -640px;
}
.mleft_9 {
left: -720px;
}
.mleft_10 {
left: -800px;
}
.mleft_11 {
left: -880px;
}
.mleft_12 {
left: -960px;
}
.pleft_0 {
padding-left: 0px;
}
.pleft_1 {
padding-left: 80px;
}
.pleft_2 {
padding-left: 160px;
}
.pleft_3 {
padding-left: 240px;
}
.pleft_4 {
padding-left: 320px;
}
.pleft_5 {
padding-left: 400px;
}
.pleft_6 {
padding-left: 480px;
}
.pleft_7 {
padding-left: 560px;
}
.pleft_8 {
padding-left: 640px;
}
.pleft_9 {
padding-left: 720px;
}
.pleft_10 {
padding-left: 800px;
}
.pleft_11 {
padding-left: 880px;
}
.pleft_12 {
padding-left: 960px;
}
.pright_0 {
padding-right: 0px;
}
.pright_1 {
padding-right: 80px;
}
.pright_2 {
padding-right: 160px;
}
.pright_3 {
padding-right: 240px;
}
.pright_4 {
padding-right: 320px;
}
.pright_5 {
padding-right: 400px;
}
.pright_6 {
padding-right: 480px;
}
.pright_7 {
padding-right: 560px;
}
.pright_8 {
padding-right: 640px;
}
.pright_9 {
padding-right: 720px;
}
.pright_10 {
padding-right: 800px;
}
.pright_11 {
padding-right: 880px;
}
.pright_12 {
padding-right: 960px;
}
.width_0 {
width: 0px;
}
.width_1 {
width: 60px;
}
.width_2 {
width: 140px;
}
.width_3 {
width: 220px;
}
.width_4 {
width: 300px;
}
.width_5 {
width: 380px;
}
.width_6 {
width: 460px;
}
.width_7 {
width: 540px;
}
.width_8 {
width: 620px;
}
.width_9 {
width: 700px;
}
.width_10 {
width: 780px;
}
.width_11 {
width: 860px;
}
.width_12 {
width: 940px;
}
