# MyQuickNet .htaccess file
RewriteEngine on
RewriteBase /MyQuickNet/
RewriteRule ^html/?.*$	-	[F,L]
#RewriteRule ^js_test/?.*$	-	[F,L]
#RewriteRule ^js_test_public/?.*$	-	[F,L]
RewriteRule ^php_class/?.*$	-	[F,L]
RewriteRule ^php_test/?.*$	-	[F,L]
RewriteRule ^sql/?.*$	-	[F,L]
RewriteRule ^sqlite/?.*$	-	[F,L]
RewriteRule ^testing_static_file/html/?.*$	-	[F,L]
#RewriteRule ^testing_static_file/js_test/?.*$	-	[F,L]
#RewriteRule ^testing_static_file/js_test_public/?.*$	-	[F,L]
RewriteRule ^testing_static_file/php_class/?.*$	-	[F,L]
RewriteRule ^testing_static_file/php_test/?.*$	-	[F,L]
RewriteRule ^testing_static_file/sql/?.*$	-	[F,L]
RewriteRule ^testing_static_file/sqlite/?.*$	-	[F,L]
RewriteCond %{REQUEST_FILENAME}	!-f
RewriteRule ^(.*)$	index.php/MyQuickNet/$1	[QSA,L]
